@model CoolProy.Models.Empleado

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Empleado</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idempleado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idempleado)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dni)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dni)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.apellidos)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.apellidos)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
