@model IList<CoolProy.Models.Cliente>

<div class="table-responsive">
    <div class="span9">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th> 
                <th>Apellido</th>
                <th>Celular</th>
                <th>Direccion</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.idcliente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td> 
                    <td>
                        @Html.DisplayFor(modelItem => item.apellidopat)
                    </td>
                     <td>
                        @Html.DisplayFor(modelItem => item.celular)
                    </td>
                      <td>
                        @Html.DisplayFor(modelItem => item.direccion)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Cliente2", new { id = item.idcliente })" class = "editDialog  btn btn-primary pull-left"><i class="fa fa-pencil-square-o " ></i>&nbsp;↑</a>
                    </td>
                    <td>
                        @Ajax.ActionLink("X", "Delete", "Cliente2", new { @id = item.idcliente }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "div-record" }, new { @class = "fa fa-trash-o btn btn-primary pull-left" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
    </div>
<script>
    $(document).ready(function () {
        $('#Add').click(function (event) {
            event.preventDefault();
            $.get(this.href, function (response) {
                $('.divForAdd').html(response);
            });
            $('#Add-Model').modal({
                backdrop: 'static',
            }, 'show');
        });
        $('.editDialog').click(function (event) {
            event.preventDefault();
            $.get(this.href, function (response) {
                $('.divForUpdate').html(response);
            });
            $('#Edit-Model').modal({
                backdrop: 'static',
            }, 'show');
        });
    });
</script>