@model CoolProy.Models.Producto

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Plantillas/plantilla.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

   
    <div class="span9">

          <ul class="breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Home")">Inicio</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="@Url.Action("Index", "SolicitudInsp")">Solicitud de Inspeccion</a>
        </li>
    </ul>
        <br />
         <br />
         <br />
       <div class="span6">
        <div class="editor-label">
            @Html.Label("Codigo")
        </div>
        <div class="editor-field" >
           <input type="text" placeholder="Nro" readonly="true"/> 
        </div>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.descripcion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.descripcion)
            @Html.ValidationMessageFor(model => model.descripcion)
        </div>


        <div class="span6">
        <div class="editor-label">
            @Html.LabelFor(model => model.idmarca, "Marca")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idmarca", String.Empty)
            @Html.ValidationMessageFor(model => model.idmarca)
        </div>
             </div>

         
        <div class="editor-label">
            @Html.LabelFor(model => model.idmodelo, "Modelo")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idmodelo", String.Empty)
            @Html.ValidationMessageFor(model => model.idmodelo)
        </div>

         <div class="span6" >
           <br />
                      <br />
               </div> 

            <div class="span6" >
        <button  type="submit" value="Registrar" class="btn btn-primary pull-left">Registrar</button>
              <a href="@Url.Action("Index", "SolicitudInsp")" class="btn btn-primary pull-right">Regresar</a>
         </div>
      </div>
}
 
 
