@model IEnumerable<CoolProy.Models.Cliente>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Plantillas/plantilla.cshtml";
    CoolProy.Models.Cliente cliente = new CoolProy.Models.Cliente();
    List<CoolProy.Models.Cliente> clientes = ViewBag.clientes;
}
<div class="span9">
    <ul class="breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Home")">Inicio</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="@Url.Action("Index", "SolicitudInsp")">Solicitud</a>
        </li>
    </ul>
      <br />
    <div class="row">
			<div class="span2">
           <a href="@Url.Action("Create","Cliente")" class="btn btn-primary pull-right">Crear Cliente</a>
			</div>		  
			 
          </div>
     <br />

<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idcliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellidopat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellidomat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.refedireccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefonono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.celular)
        </th>
        <th></th>
    </tr>

@foreach (var item in clientes) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => @item.idcliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => @item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => @item.apellidopat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => @item.apellidomat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => @item.direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => @item.refedireccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => @item.telefonono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => @item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => @item.celular)
        </td>
        <td>
           <a href="@Url.Action("Edit","Cliente",new { id=item.idcliente })" class="btn btn-primary pull-right">Editar</a>
             </td>
            <td> <a href="@Url.Action("Delete","Cliente",new { id=item.idcliente })" class="btn btn-primary pull-right">Eliminar</a>
           
        </td>
    </tr>
}

</table>
      </div>