@{
    ViewBag.Title = "C&C CoolService";
    Layout = "~/Views/Plantillas/plantilla.cshtml";
}


 
<div class="span9">
   
			<div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
              <div class="item active">
		<img src="@Url.Content("~/Images/aire1.jpg")" alt="" style="width:700px;height:210px;">
                <div class="carousel-caption">
                  <h4>Aire acondicionado</h4>
                  <p>Tenemos la mayor variedad de sistemas de ventilacion.</p>
                </div>

              </div>
              <div class="item">
                <img src="@Url.Content("~/Images/aire2.jpg")" alt="">
                <div class="carousel-caption">
                  <h4>Reparacion</h4>
                  <p>Todo tipo de aparatos</p>
                </div>
              </div>

              <div class="item">
		        <img src="@Url.Content("~/Images/aire3.jpg")" alt="">
                <div class="carousel-caption">
                  <h4>Ubicacion</h4>
                  <p>Av.Los Robles Miraflores</p>
                </div>
              </div>
            </div>

            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
          </div>
          </div>
		  
		  
		  
		<div class="span7 popular_products">
		 <h4>Productos</h4><br />
		<ul class="thumbnails">
       
	   <li class="span2">
          <div class="thumbnail">
            <a href="#"><img alt="" src="@Url.Content("~/Content/imagenes/producto_popular_1.png")" style="width:150px;height:123px;" /></a>
            <div class="caption" style="width:132px;height:44px;">
              <a href="#"> <h5>************************</h5></a>  Price: &#36;50.00<br /><br />
            </div>
          </div>
        </li>
       
	   <li class="span2">
          <div class="thumbnail">
            <a href="#"><img alt="" src="@Url.Content("~/Content/imagenes/producto_popular_2.jpg")" style="width:150px;height:123px;" /></a>
            <div class="caption" style="width:132px;height:44px;">
              <a href="#"> <h5>>************************</</h5></a>  Price: &#36;50.00<br /><br />
            </div>
          </div>
        </li>
       
	   <li class="span2">
          <div class="thumbnail">
            <a href="#"><img alt="" src="@Url.Content("~/Content/imagenes/producto_popular_3.jpg")" style="width:150px;height:123px;" /></a>
            <div class="caption" style="width:132px;height:44px;">
              <a href="#"> <h5>>************************</</h5></a>  Price: &#36;50.00<br /><br />
            </div>
          </div>
        </li>
       
	   <li class="span2">
          <div class="thumbnail">
            <a href="#"><img alt="" src="@Url.Content("~/Content/imagenes/producto_popular_4.jpg")" style="width:150px;height:123px;" /></a>
            <div class="caption" style="width:132px;height:44px;">
              <a href="#"> <h5>>************************</</h5></a>  Price: &#36;50.00<br /><br />
            </div>
          </div>
        </li>
       
	   <li class="span2">
          <div class="thumbnail">
            <a href="#"><img alt="" src="@Url.Content("~/Content/imagenes/producto_popular_5.jpg")" style="width:150px;height:123px;" /></a>
            <div class="caption" style="width:132px;height:44px;">
              <a href="#"> <h5>>************************</</h5></a>  Price: &#36;50.00<br /><br />
            </div>
          </div>
        </li>
       
	   <li class="span2">
          <div class="thumbnail">
            <a href="#"><img alt="" src="@Url.Content("~/Content/imagenes/producto_popular_6.jpg")" style="width:150px;height:123px;" /></a>
            <div class="caption" style="width:132px;height:44px;">
              <a href="#"> <h5>>************************</</h5></a>  Price: &#36;50.00<br /><br />
            </div>
          </div>
        </li>

      </ul>
		</div>
        <div class="span2">
		
		 <div class="roe">
		<h4>Newsletter</h4><br />
		<p>Sign up for our weekly newsletter and stay up-to-date with the latest offers, and newest products.</p>
		
		    <form class="form-search">
    <input type="text" class="span2" placeholder="Enter your email" /><br /><br />
    <button type="submit" class="btn pull-right">Subscribe</button>
    </form>
		</div><br /><br />
          <!--  <a href="#"><img alt="" title="" src="@Url.Content("~/Content/imagenes/paypal_mc_visa_amex_disc_150x139.gif")" /></a>
			<a href="#"><img alt="" src="@Url.Content("~/Content/imagenes/bnr_nowAccepting_150x60.gif")" /></a> -->

		</div>
 
