@model CoolProy.Models.Modelo

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Plantillas/plantilla.cshtml";
}

 

<h3>Seguro de eliminar el equipo?</h3>
 
   

    <div class="display-label">
         @Html.DisplayNameFor(model => model.equipo.idequipo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.equipo.idequipo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.equipo.descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.equipo.descripcion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.equipo.Marca.descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.equipo.Marca.descripcion)
    </div> 
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
