@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Plantillas/plantilla.cshtml";
    CoolProy.Models.Equipo equipo = new CoolProy.Models.Equipo();
    List<CoolProy.Models.Equipo> equipos = ViewBag.equipos;
}
 <div class="span9">
    <ul class="breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Home")">Inicio</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="@Url.Action("Index", "SolicitudInsp")">Solicitud</a>
        </li>
    </ul>
      <br />
    <div class="row">
			<div class="span2">
           <a href="@Url.Action("Create","Equipo")" class="btn btn-primary pull-right">Agregar Equipo</a>
			</div>		  
			 
          </div>
     <br />
   
<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => equipo.idequipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => equipo.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => equipo.Marca)
        </th>
        <th></th>
    </tr>

@foreach (var item in equipos) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idequipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca.descripcion)
        </td>
       <td> 
             <a href="@Url.Action("Edit","Equipo",new { id=item.idequipo })" class="btn btn-primary pull-right">Editar</a>  </td>
        <td>     <a href="@Url.Action("Detalle","Equipo",new { id=item.idequipo })" class="btn btn-primary pull-right">Detalle</a>  </td>
          <td>    <a href="@Url.Action("Delete","Equipo",new { id=item.idequipo })" class="btn btn-primary pull-right">Eliminar</a>
           
        </td>
    </tr>
}

</table> 
      <div class="pagination">
    <ul>
    <li><a href="#">Prev</a></li>
    <li class="active">
    <a href="#">1</a>
    </li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">Next</a></li>
    </ul>
    </div>
      </div>