@model CoolProy.Models.Encap

@{
    ViewBag.Title = "Eliminar Registro de Inspeccion";
    Layout = "~/Views/Plantillas/plantilla.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Inspeccion</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mdinspecion.idinspeccion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mdinspecion.idinspeccion)
    </div>

   

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mdinspecion.fecha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mdinspecion.fecha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mdinspecion.observaciones)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mdinspecion.observaciones)
    </div>
     
    <div class="display-label">
         @Html.DisplayNameFor(model => model.mdinspecion.estado.descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mdinspecion.estado.descripcion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mdinspecion.TipoServicio.descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mdinspecion.TipoServicio.descripcion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mdinspecion.SolicitudInspeccion.idsolicitud)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mdinspecion.SolicitudInspeccion.idsolicitud)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
