@model CoolProy.Models.Empleado

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Empleado</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idempleado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idempleado)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dni)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dni)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.apellidos)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.apellidos)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
